<div class="container">
  <article class="example" id="uk"></article>
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button type="submit">Search</button>
  </form>

  <div class="movies-wrappers"></div>
  <div class="pagination">
    <button class="prive-page">Prev</button>
    <button class="current-page">1</button>
    <button class="current-page-bnt">2</button>
    <button class="next-page">Next</button>
  </div>
</div>
